.section {
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  color: var(--main-text-color);
  margin-top: 20px;
  box-shadow: var(--box-shadow);
}

.title {
  margin: 0;
  color: var(--additional-text-color);
  font-weight: 600;
}

section:nth-child(2n-1) {
  background-color: var(--main-color);
}

section:nth-child(2n) {
  background-color: var(--additional-color);
}
